// package xyz

// imports
<% each( '.model > .imports > *', function( entry ) { %>
import <%= entry.text() %>;
<% }) %>

public enum <%= text( '#className' ) %>
   <% each( '.model > .implements > *', function( impl )  { %>
       implements <%= impl.text() %>
   <% }); %>
{

       <% each( '#fields', function( field ) { %>
          <%= field.text() %>;
       <% }) %>

       <% each( '#constructors', function( constructor ) { %>
          <%= constructor.text() %>;
       <% }) %>

       <% each( '#methods', function( methods ) { %>
          <%= methods.text() %>;
       <% }) %>

}