// package xyz

// imports
<% each( '.imports', function( entry ) { %>
import <%= entry.text() %>;
<% }) %>

public enum <%= text( '#className' ) %> {

   <% each( '#fields', function( entry ) { %>
      <%= entry.text() %>;
   <% }) %>

   <% each( '#methods', function( entry ) { %>
      <%= entry.text() %>;
   <% }) %>

}